/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.centered {
    margin: 0 auto;
}

.centered65 {
    margin: 0 auto;
    width: 65vw;
}

.centered55 {
    margin: 0 auto;
    width: 55vw;
}

button {
    border-radius: 5px;
    border: none;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.white {
    background-color: white;
}

.blue {
    background-color: #0061ff;
    color: #ffff;
}

ul {
    list-style-type: none;
}

header .header-container {
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.right-box ul{
    display: inline-block;
}

.right-box img {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 20px;
}

header .header-container li{
    display: inline-block;
    padding: 1rem;
}

main .intro-container {
    background-color:#b4d0e7;
}

main .intro-container .intro {
    height: 550px;
}


#jumbo {
    height: 380px;
}

main article h1 {
    font-weight: bolder;
    font-size: 3.5rem;
    padding: 3.5rem 0 2rem 0;
}

main article p {
    font-size: 0.8rem;
}

main article p button {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

main .business-cards .business-title {
    margin-top: 8rem;
}

main .business-cards .business-title h2{
    font-size: 2rem;
    padding-bottom: 3rem;
}

main .business-cards .business-title span{
    font-size: 0.8rem;
    padding-right: 1.5rem;
}

main .bcards {
    margin-top: 2rem;
}

main .bcards .vertical-card,
main .bcards .horizontal-card{
border: 1px solid lightgrey;
}

main .bcards .vertical-card{
    height: 750px;
    width: calc(100% / 3);
}

main .bcards .middle-card {
    margin: 0 2rem 0 2rem;
}

main .bcards .horizontal-card{
    height: 200px;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

main .top-card {
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 1px solid lightgrey;
    font-size: 0.8rem;
}

main .text-box {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

main .text-box-hor {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

main .text-box h4{
    font-size: 0.8rem;
}

main .text-box p {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem 0 0.5rem 0;
}

main .vertical-card .text-box span {
    color: gray;
    font-size: 0.7rem;
}

main .vertical-card .text-box ul {
    padding-top: 0.5rem;
    font-size: 0.7rem;
}

main .vertical-card .text-box ul li {
   padding-top: 1rem;
}

main .text-box button {
    margin: 2rem 0 3rem 0;
    width: 100%;
}

main .horizontal-card .hr-text {
    width: 70%;
    margin: 2rem 1rem 0 1rem;
    font-size: 0.8rem;
}

main .horizontal-card .hr-text h4 {
    padding: 1rem 0 1rem 0;
}


main .horizontal-card .top-card div.flex {
    justify-content: space-evenly;
}

main .horizontal-card button {
    margin-top: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

hr {
    width: 40px;
    margin: 2rem 0 2rem 0;
    color: grey;
}

main .fa-solid{
    padding-right: 1rem;
}

main .fa-check {
    color: #0061ff;
}

main .box-partner{
    height: 300px;
    background-color: rgb(245, 112, 112);
}

main .dropbox-business .task-card {
    height: 300px;
    width: 150px;
}

main .business-info {
    height: 200px;
    background-color: rgb(59, 185, 185);

}

main .partner-team {
    background-color: lightgreen;
    height: 400px;
}

main .free-trial {
    background-color: lightsalmon;
    height: 200px;
}

main .faq-box {
    background-color: rgb(212, 32, 188);
    height: 300px;
}

footer {
    background-color: black;
    height: 30vh;
    color: #ffff;
}