/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    border-radius: 5px;
    border: none;
    padding: .5rem 1rem .5rem 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

button:hover {
    transition: 1s;
    scale: 1.2;
}

ul {
    list-style-type: none;
}

hr {
    width: 40px;
    margin: 2rem 0 2rem 0;
}

header a,
footer a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.centered {
    margin: 0 auto;
}

.w65 {
    width: 65vw;
}

.w55 {
    width: 55vw;
}


.white {
    background-color: #fff;
}

.blue {
    background-color: #0061ff;
    color: #fff;
}

.grey {
    color: #babec2;
}

.light-border {
    border: 1px solid #dfdfe1;
}

.bold {
    font-weight: 700;
}

/*header*/
header {
    height: 70px;
    width: 100vw;
    min-width: 947px;
    background-color: #fff;
    position: fixed;
    z-index: 3;
}

header .header-container {
    align-items: center;
    font-size: 0.8rem;
    height: 100%;
}


.left-box ul{
    display: inline-block;
}

.left-box img {
    padding: 0 1rem 0 1rem;
    height: 20px;
    vertical-align: text-bottom;
}

header .header-container li{
    display: inline-block;
    padding: 1rem;
}

/*main*/

main .intro-container {
    background-color:#b4d0e7;
    padding-top: 3.5rem;
}

main .intro-container .intro {
    height: 550px;
}


#jumbo {
    height: 380px;
}

main article h1 {
    font-size: 3.5rem;
    padding: 3.5rem 0 2rem 0;
}

main article p {
    font-size: 0.8rem;
}

main article p button {
    margin: 1.5rem 0 1.5rem 0;
}

main article p button,
main article .fa-arrow-down{
    display: block;
}

main article .fa-arrow-down{
    margin-top: 2rem;
    font-size: 3rem;
}

main .business-cards .business-title {
    margin-top: 8rem;
}

main .business-cards .business-title h2{
    font-size: 2rem;
    padding-bottom: 3rem;
}

main .business-cards .business-title span{
    font-size: 0.8rem;
    padding: 0 1.5rem 0 .5rem;
}

main .bcards {
    margin-top: 2rem;
}

main .bcards .vertical-card{
    min-height: 760px;
    width: calc(100% / 3);
}

main .bcards .middle-card {
    margin: 0 2.5rem 0 2.5rem;
}

main .bcards .horizontal-card{
    height: 200px;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

main .top-card {
    justify-content: center;
    align-items: center;
    padding: .5rem 0 .5rem 0;
    border-bottom: 1px solid #dfdfe1;
    font-size: 0.8rem;
}

main .text-box {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

main .text-box-hor {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

main .text-box h4{
    font-size: 0.8rem;
}

main .text-box p {
    font-size: 0.8rem;
    padding: 1rem 0 .5rem 0;
}

main .vertical-card .text-box span {
    font-size: 0.7rem;
}

main .vertical-card .text-box ul {
    padding: .5rem;
    font-size: 0.7rem;
}

main .vertical-card .text-box ul li {
   padding-top: 1rem;
}

main .text-box button {
    margin: 2.5rem 0 3rem 0;
    width: 100%;
}

main .horizontal-card .hr-text {
    width: 70%;
    margin: 2rem 1rem 0 1rem;
    font-size: 0.8rem;
}

main .horizontal-card .hr-text h4 {
    padding: 1rem 0 1rem 0;
}


main .horizontal-card .top-card div.flex {
    justify-content: space-evenly;
}

main .horizontal-card button {
    margin-top: 2rem;
}

main .fa-solid{
    padding-right: 1rem;
}

main .fa-check {
    color: #0061ff;
}

main .box-partner{
    min-height: 500px;
    margin-top: 5rem;
}

main .box-partner img {
    width: 500px;
}

main .box-partner .box-partner-text {
    padding: 2rem 2rem 0 2.5rem;
}

main .box-partner .box-partner-text p {
    padding: 2rem 0rem 2rem 0;
    font-size: 0.9rem;
}

main .dropbox-business {
    margin-top: 3rem;
}


main .task-card-container{
    flex-wrap: wrap;
    padding-top: 4rem;
}

main .dropbox-business .task-card {
    min-height: 400px;
    width: calc(100% / 3 - 2rem);
    margin-top: 2rem;
}

main .dropbox-business .task-card img{
    width: 100%;
}

main .business-info {
    min-height: 200px;
    margin-top: 5rem;
}

main .business-info>div{
    width: 60%;
    margin-bottom: 3rem;
}

main .business-info h2{
    font-size: 2rem;
}

main .business-info a{
    font-size: 0.8rem;
}

main .partner-team .square{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

main .partner-team .little-square{
    height: calc(100% / 2);
    width: calc(100% / 2);
    justify-content: center;
    align-items: center;
}

main .partner-team .little-square svg{
    width: 50%;
    filter: invert(100%);
}

main .square #designit{ 
    background-color: #a2d39b;
}

main .square #asu{ 
    background-color: #61082b;
}

main .square #uf-florida{ 
    background-color: #0093ce;
}

main .square #topps{ 
    background-color:#ff1c1c;
}

main .square #wbr{ 
    background-color: #d5001f;
}

main .square #hearst{ 
    background-color: #b4d0e7;
}

main .square #lonely-planet{ 
    background-color: #0d2481;
}

main .square #clear-channel{ 
    background-color: #ffd830;
}

main .big-square{ 
    background-color: #f5f5f5;
    padding: 2.5rem 2.5rem 0 2.5rem;
    font-size: 0.8rem;
}


main .big-square svg{ 
    width: 50%;
}

main .big-square hr{ 
    width: 20%;
}

main .big-square p{ 
    padding-bottom: 2rem;
}


main .free-trial {
    background-color: #b4d0e7;
}

main .free-trial div{
    align-items: center;
    min-height: 300px;
}

main .free-trial div h2{
    font-size: 2.3rem;
    color: #641033;
    width: 60%;
}

main .faq-box {
    background-color: #fff;
    min-height: 550px;
    padding-top: 5rem;
}

main .faq-box h2,
main .faq-box p {
    font-size: 2rem;
}

main .faq-box p {
    font-size: 0.8rem;
}

main .faq-box hr {
    width: 100%;
}

/*footer*/
footer {
    background-color: #000;
    min-height: 400px;
    color: #fff;
}

footer .top-footer {
    padding-top: 4rem;
}

footer .top-footer ul{
    padding-top: 2rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

footer hr{
    margin-top: 4rem;
    width: 100px;
}

footer .bottom-footer {
    font-size: 0.8rem;
}

footer .bottom-footer span{
    padding: 0 .5rem 0 .5rem;
}